{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class=flashes>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    <h2 class="w3-wide">WELCOME TO MEALME</h2>
</div>
{% endblock %}